

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Brian Best</title>
  <meta name="description" content="Brian Best is a software developer, specializing in web, mobile, and wearable technologies.">

  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="brian&#39;s blog" href="/feed.xml">
