---
layout: default
---
<div class="welcome">
  <h1>Brian Best</h1>
  <h2>Technologist &amp; Web Developer</h2>
  <h5>Find Me</h5>
  <ul>
    <li >
      <a class="btn github " target="_blank" href="https://github.com/brianbest">
        <i class="fa fa-github" aria-hidden="true"></i>
        Github
      </a>
    </li>
    <li >
      <a class="btn medium " target="_blank" href="https://medium.com/@brianbest">
        <i class="fa fa-medium" aria-hidden="true"></i>
        Medium
      </a>
    </li>
    <li >
      <a class="btn facebook " target="_blank" href="https://www.facebook.com/brianbest101">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
      </a>
    </li>
    <li >
      <a class="btn twitter " target="_blank" href="https://www.twitter.com/brianbest">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Twitter
      </a>
      <a href="self.close()">Close tab</a>
  </ul>
</div>
